# Analisi Dataset

In [12]:
import pandas as pd
import re
from collections import Counter
import numpy as np

In [13]:
# Count occurrences of years in a specific range within a text column of a DataFrame
def count_years_in_texts(df, start_year, end_year, column='texts'):
    years = [str(year) for year in range(start_year, end_year + 1)]
    year_pattern = re.compile(r'\b(' + '|'.join(years) + r')\b')

    all_years = []
    for text in df[column]:
        found_years = year_pattern.findall(str(text))
        all_years.extend(found_years)

    year_counts = Counter(all_years)
    for year in years:
        print(f"{year}: {year_counts.get(year, 0)}")
    
    return year_pattern


# Extract the most common year from the text
def extract_most_common_year(text, year_pattern):
    found_years = year_pattern.findall(text)
    if not found_years:
        return np.nan  # or 'No year found'
    counter = Counter(found_years)
    # returns the most common year
    return counter.most_common(1)[0][0]

## Celebrity

paper di riferimento: https://arxiv.org/abs/1708.07104

tema: gossip e celebrità

pubblicazione: 2017

date paper: non segna date

dataset originale (NON CI SONO date): https://web.eecs.umich.edu/~mihalcea/downloads.html?utm_source=chatgpt.com#FakeNews

----

**RISULTATO:**
* Molto probabile dal 2010 al 2017
* Meno probabile dal 2000 al 2009

In [14]:
percorso_file = "../datasets/Celebrity/df_celebrity.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [15]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  Robert Pattinson and FKA Twigs Take Cannes in ...       0
1           1  Kathy Griffin Wants To Get Roasted On Comedy C...       1
2           2  WATCH: Donald Trump's Ex-Wife Marla Maples Get...       0
3           3  Jennifer Hudson And Kelly Clarkson Are Coming ...       0
4           4  'Girl' Fight! Kanye West Confronts Anna Wintou...       1

In [16]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 500
Number of Real News: 250
Number of Fake News: 250
Number of rows after removing duplicates: 500
Number of rows after removing NaN: 500

In [17]:
start_year = 2000
end_year = 2017
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2000: 11
2001: 14
2002: 17
2003: 19
2004: 17
2005: 18
2006: 11
2007: 17
2008: 22
2009: 13
2010: 24
2011: 15
2012: 29
2013: 33
2014: 56
2015: 52
2016: 83
2017: 53

In [18]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 288 over 500 rows

In [19]:
df['year'].value_counts().sort_index()

year
2000     2
2001     3
2002     5
2003     6
2004     6
2005     8
2006     4
2007     7
2008     9
2009     6
2010     9
2011     6
2012    12
2013    14
2014    20
2015    24
2016    38
2017    33
Name: count, dtype: int64

## CIDII

paper di riferimento: http://mjs.um.edu.my/index.php/MJCS/article/view/41935

tema: problemi Islamici

pubblicazione: 

date paper: dal 1/1/2016 al 20/1/2021

dataset originale (NON CI SONO date): https://drive.google.com/drive/folders/14HBFsDAe8hbNn6S6qTJ84o-9_IETDOq0

----

**RISULTATO:**
* Non si trovano date neanche nel testo

In [20]:
percorso_file = "../datasets/CIDII/df_cidii.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [21]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  Muhammad permitted lying (Sahih Muslim 6303, B...       1
1           1  And one of His signs is that He created for yo...       0
2           2  She reported God's Messenger as saying, The be...       0
3           3  Sahl bin Hunaif and Qais bin Sad were sitting ...       0
4           4  It should be noted that in the long history of...       0

In [22]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 722
Number of Real News: 422
Number of Fake News: 300
Number of rows after removing duplicates: 722
Number of rows after removing NaN: 722

In [23]:
start_year = 2016
end_year = 2021
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2016: 0
2017: 0
2018: 0
2019: 0
2020: 0
2021: 0

## Fa-KES

paper di riferimento: https://ojs.aaai.org/index.php/ICWSM/article/view/3254

tema: guerra in Siria

pubblicazione: 2019

date apper: dal 2011 al 2018

dataset originale (CI SONO date): https://ojs.aaai.org/index.php/ICWSM/article/view/3254

----

**RISULTATO:**
* Molte news dal 2013 al 2017
* Poche news del 2011 e 2012

In [24]:
percorso_file = "../datasets/FaKES/df_fakes.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [25]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  6 September 2016 10 civilians killed 15 injure...       1
1           1  05-09-2013 Damascus Car bomb Kills Four . Four...       1
2           2  Thu Aug 18 2016 70 Militants Killed in Aleppos...       0
3           3  1 February 2016 Russian Aerospace Forces destr...       0
4           4  Date of publication 5 July 2016 The bomber was...       0

In [26]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 804
Number of Real News: 426
Number of Fake News: 378
Number of rows after removing duplicates: 804
Number of rows after removing NaN: 804

In [27]:
start_year = 2011
end_year = 2018
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2011: 210
2012: 54
2013: 115
2014: 166
2015: 139
2016: 482
2017: 171
2018: 22

In [28]:
percorso_file_date = "../datasets/FaKES/date_df_fakes.csv"
df_dates = pd.read_csv(percorso_file_date, encoding="ISO-8859-1")

df_dates = df_dates.rename(columns={"article_content": "texts"})
# join on "texts" column, keeping all rows from df, but adding "date" from df_dates where available
df_merged = pd.merge(df, df_dates[['texts', 'date']], on="texts", how="left")


df_dates['date'] = pd.to_datetime(df_dates['date'], errors='coerce')
df_dates.head()

# check
print(df_merged['date'].isna().sum(), "rows without a match")

39 rows without a match

In [29]:
df_merged['year'] = pd.to_datetime(df_merged['date'], errors='coerce').dt.year
df_merged['year'].value_counts().sort_index()

year
2011.0      2
2012.0      2
2013.0     51
2014.0    114
2015.0     84
2016.0    392
2017.0    158
Name: count, dtype: int64

## FakeVsSatire

paper di riferimento: https://www.researchgate.net/publication/325212005_Fake_News_vs_Satire_A_Dataset_and_Analysis

tema: politica

pubblicazione: 2018

date paper: tra 01/2016 e 10/2017

dataset originale (NON CI SONO date): https://github.com/jgolbeck/fakenews

----

**RISULTATO:**
* Solo news del 2016 e 2017

In [30]:
percorso_file = "../datasets/FakeVsSatire/df_fakevssatire.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [31]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  HOSPITAL INSIDER REVEALS Ã¢ÂÂTHE GOVERNMENT ...       1
1           1  Whaaaat? Trump Chief Was Wiretapped Both Befor...       1
2           2  Obama Challenges ISIS to Meet U.N. Emissions G...       0
3           3  George Soros Furious After Cops Shut Down Leth...       1
4           4  Civil War Monuments are uprooting themselves a...       0

In [32]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 486
Number of Real News: 203
Number of Fake News: 283
Number of rows after removing duplicates: 486
Number of rows after removing NaN: 486

In [33]:
start_year = 2016
end_year = 2017
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2016: 108
2017: 233

In [34]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 241 over 486 rows

In [35]:
df['year'].value_counts().sort_index()

year
2016     60
2017    185
Name: count, dtype: int64

## Horne

paper di riferimento: https://ojs.aaai.org/index.php/ICWSM/article/view/14976

tema: politica

pubblicazione: 2017

date paper: probabilmente news del 2016

dataset originale (NON CI SONO date): https://github.com/BenjaminDHorne/fakenewsdata1

----

**RISULTATO:**
* Ci sono più news del 2016 (ma poche sul totale)

In [36]:
percorso_file = "../datasets/Horne/df_horne.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [37]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  NEW YORK, NYÃÂDuring his Sunday interview wi...       0
1           1  Congress is preparing to do major battle next ...       0
2           2  President-elect Donald Trump is lashing out in...       0
3           3  WASHINGTON DC ÃÂ On Monday afternoon, an ext...       1
4           4  Senate Democrats dropped their objections Frid...       0

In [38]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 326
Number of Real News: 203
Number of Fake News: 123
Number of rows after removing duplicates: 326
Number of rows after removing NaN: 326

In [39]:
start_year = 2015
end_year = 2017
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2015: 47
2016: 153
2017: 17

In [40]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 229 over 326 rows

In [41]:
df['year'].value_counts().sort_index()

year
2015    23
2016    61
2017    13
Name: count, dtype: int64

## Infodemic

paper di riferimento: https://arxiv.org/abs/2011.03327

tema: covid

pubblicazione: 2021

date paper: sicuramente 2020 (forse anche 2021)

dataset originale (NON CI SONO date): https://competitions.codalab.org/competitions/26655#phases

----

**RISULTATO:**
* Solo news del 2020 (ma poche sul totale)

In [42]:
percorso_file = "../datasets/Infodemic/df_infodemic.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [43]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  The CDC currently reports 99031 deaths. In gen...     0.0
1           1  States reported 1121 deaths a small rise from ...     0.0
2           2  Politically Correct Woman (Almost) Uses Pandem...     1.0
3           3  #IndiaFightsCorona: We have 1524 #COVID testin...     0.0
4           4  Populous states can generate large case counts...     0.0

In [44]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 10561
Number of Real News: 5526
Number of Fake News: 5033
Number of rows after removing duplicates: 10561
Number of rows after removing NaN: 10559

In [45]:
start_year = 2020
end_year = 2021
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2020: 422
2021: 16

In [46]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 10194 over 10559 rows

In [47]:
df['year'].value_counts().sort_index()

year
2020    352
2021     13
Name: count, dtype: int64

## ISOT

paper di riferimento: https://www.researchgate.net/publication/320300831_Detection_of_Online_Fake_News_Using_N-Gram_Analysis_and_Machine_Learning_Techniques

tema: Elezioni USA 2016

pubblicazione: 2017

date paper: news del 2016

dataset originale (NON CI SONO date): https://onlineacademiccommunity.uvic.ca/isot/2022/11/27/fake-news-detection-datasets/?utm_source=chatgpt.com

----

**RISULTATO:**
* Molte news del 2016
* Possibli news del 2015 e 2017 (anni molto presenti anche se nel paper segna solo 2016)

In [48]:
percorso_file = "../datasets/ISOT/df_isot.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [49]:
df.head()

,Unnamed: 0.1,Unnamed: 0,texts,labels
0,0,0,WASHINGTON (Reuters) - U.S. House Speaker Paul...,0
1,1,1,BRUSSELS (Reuters) - The European UnionÃ¢ÂÂs...,0
2,2,2,MEXICO CITY (Reuters) - Mexican President Enri...,0
3,3,3,Far too many people don t understand the aweso...,1
4,4,4,MAPUTO (Reuters) - Gun battles last week betwe...,0

In [50]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 44271
Number of Real News: 21416
Number of Fake News: 22855
Number of rows after removing duplicates: 44271
Number of rows after removing NaN: 44271

In [51]:
start_year = 2015
end_year = 2017
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2015: 5222
2016: 10223
2017: 5629

In [52]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 32857 over 44271 rows

In [53]:
df['year'].value_counts().sort_index()

year
2015    3213
2016    5759
2017    2442
Name: count, dtype: int64

## Kaggle_clement

tema: politica (e un po attualità)

dataset originale (CI SONO date)

----

**RISULTATO:**
* Solo news dal 2015 al 2017
* Sicure dal dataset originale

In [54]:
percorso_file = "../datasets/Kaggle_clement/df_kaggle_clement.csv"
df = None

df = pd.read_csv(percorso_file, encoding="utf-8")

In [55]:
df.head()

,Unnamed: 0,title,text,subject,date,labels
0,0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [56]:
# print different values of 'subject' column
df['subject'].unique()

array(['politicsNews', 'worldnews', 'News', 'politics', 'Government News',
       'left-news', 'US_News', 'Middle-east'], dtype=object)

In [57]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows only considering 'title', 'text' and 'labels' columns
df = df.drop_duplicates(subset=['title', 'text', 'labels'])
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'text' column or 'labels' column
df = df.dropna(subset=['text', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 44898
Number of Real News: 21417
Number of Fake News: 23481

Number of rows after removing duplicates: 39105
Number of rows after removing NaN: 39105

In [58]:
years = [str(year) for year in range(2015, 2018)]
year_pattern = re.compile(r'\b(201[5-7])\b')

all_years = []
for text in df['date']:
    found_years = year_pattern.findall(text)
    all_years.extend(found_years)

year_counts = Counter(all_years)
for year in years:
    print(f"{year}: {year_counts.get(year, 0)}")

2015: 1647
2016: 14141
2017: 23278

## Kaggle_meg

tema: ??

dataset originale (CI SONO date): ??

----

**RISULTATO:**
* TUTTE news del 2016
* Sicure dal dataset originale

In [59]:
percorso_file = "../datasets/Kaggle_meg/df_kaggle_meg.csv"
df = None

df = pd.read_csv(percorso_file, encoding="utf-8")

In [60]:
df.head()

,uuid,ord_in_thread,author,published,title,text,language,crawled,site_url,country,domain_rank,thread_title,spam_score,main_img_url,replies_count,participants_count,likes,comments,shares,type
0,6a175f46bcd24d39b3e962ad0f29936721db70db,0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,english,2016-10-27T01:49:27.168+03:00,100percentfedup.com,US,25689.0,Muslims BUSTED: They Stole Millions In Gov’t B...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
1,2bdc29d12605ef9cf3f09f9875040a7113be5d5b,0,reasoning with facts,2016-10-29T08:47:11.259+03:00,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,english,2016-10-29T08:47:11.259+03:00,100percentfedup.com,US,25689.0,Re: Why Did Attorney General Loretta Lynch Ple...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
2,c70e149fdd53de5e61c29281100b9de0ed268bc3,0,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,english,2016-10-31T01:41:49.479+02:00,100percentfedup.com,US,25689.0,BREAKING: Weiner Cooperating With FBI On Hilla...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
3,7cf7c15731ac2a116dd7f629bd57ea468ed70284,0,Fed Up,2016-11-01T05:22:00.000+02:00,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,english,2016-11-01T15:46:26.304+02:00,100percentfedup.com,US,25689.0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,0.068,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias
4,0206b54719c7e241ffe0ad4315b808290dbe6c0f,0,Fed Up,2016-11-01T21:56:00.000+02:00,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,english,2016-11-01T23:59:42.266+02:00,100percentfedup.com,US,25689.0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,0.865,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias

In [61]:
# print different values of 'domain_rank' column
df['domain_rank'].unique()

array([25689.,    nan, 65078., 18533., 37161.,  5772., 78393., 25842.,
        3734., 94243., 42160., 12993., 48959., 61606.,  6659.,  7587.,
       93026.,   967., 16425., 22665., 10352., 87365.,   486., 23950.,
       39980., 36674., 15846., 60570., 11584., 77628., 22680., 25709.,
         553., 48175., 35381., 32069., 40299., 40480., 34811., 19116.,
       12387., 70635., 51784., 56000., 78345., 60463., 17592., 67400.,
       65917., 82758.,  2774., 68648., 32398., 79662., 53149., 44479.,
       26413., 30230., 23040., 21114., 68691., 98679., 54210.,  6416.,
       88660., 43327., 27046., 23349., 10414., 61423., 91187.,  4617.,
       12191., 75353., 38347., 18495., 41475., 17423., 22432., 44451.,
       16994., 57497., 28149., 25945.,   538., 31016., 63847., 62759.,
       22891., 91245.,  1616., 96853., 18896., 91878., 33221., 63072.,
       56487., 65975., 65060.,  8968., 18369., 93150.,  2182., 19375.,
       42575., 37614.,  9645., 14958., 30890., 84363., 24453., 49688.,
       23405., 72287., 14170., 51246.,  3921., 85288., 34478., 62087.,
       48413., 48717., 64783., 58305.,   829., 46814., 36845., 14716.,
       17366.,  1550., 67959., 35234., 43665.,  2435.])

In [62]:
# print total length
print("Total number of rows:", len(df))


# print number of 0 labels
print("Number of Real News:", (df['spam_score'] <= 0.5).sum())
# print number of 1 labels
print("Number of Fake News:", (df['spam_score'] > 0.5).sum())

# delete duplicate rows only considering 'title', 'text' and 'spam_score' columns
df = df.drop_duplicates(subset=['title', 'text', 'spam_score'])
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'text' column or 'spam_score' column
df = df.dropna(subset=['text', 'spam_score'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 12999
Number of Real News: 12723
Number of Fake News: 276
Number of rows after removing duplicates: 12848
Number of rows after removing NaN: 12802

In [63]:
years = [str(year) for year in range(2015, 2018)]
year_pattern = re.compile(r'\b(201[5-7])\b')

all_years = []
for text in df['published']:
    found_years = year_pattern.findall(text)
    all_years.extend(found_years)

year_counts = Counter(all_years)
for year in years:
    print(f"{year}: {year_counts.get(year, 0)}")

2015: 0
2016: 12802
2017: 0

## LIAR-PLUS

paper di riferimento: https://aclanthology.org/W18-5513/ 

tema: politica

pubblicazione: 2018

date paper: non è specificato, ma è un estensione di LIAR

dataset originale (NON CI SONO date): https://github.com/Tariq60/LIAR-PLUS/tree/master

----

**RISULTATO:**

* Non si capisce che date siano

In [64]:
percorso_file = "../datasets/LIAR_PLUS/df_liarplus.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [65]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  Says the Annies List political group supports ...     1.0
1           1  When did the decline of coal start? It started...     0.0
2           2  Hillary Clinton agrees with John McCain "by vo...     0.0
3           3  Health care reform legislation is likely to ma...     1.0
4           4  The economic turnaround started at the end of ...     0.0

In [66]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 12786
Number of Real News: 7130
Number of Fake News: 5654
Number of rows after removing duplicates: 12786
Number of rows after removing NaN: 12784

In [67]:
start_year = 2005
end_year = 2018
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2005: 18
2006: 32
2007: 38
2008: 87
2009: 86
2010: 87
2011: 103
2012: 87
2013: 45
2014: 43
2015: 35
2016: 24
2017: 5
2018: 1

In [68]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()}")

NaN year count: 12160

In [69]:
df['year'].value_counts().sort_index()

year
2005    18
2006    30
2007    34
2008    82
2009    85
2010    79
2011    89
2012    74
2013    40
2014    33
2015    30
2016    24
2017     5
2018     1
Name: count, dtype: int64

## Politifact

paper di riferimento: https://arxiv.org/abs/1708.01967

tema: politica

pubblicazione: 2017

date paper: non viene specificato

dataset originale (NON CI SONO date, e non è Politifact ma è LIAR): https://sites.cs.ucsb.edu/~william/data/

----

**RISULTATO:**

* Non si capisce che date siano

In [70]:
percorso_file = "../datasets/Politifact/df_politifact.csv"
df = None
df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [71]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  Rose Garden\n\n5:35 P.M. EDT\n\nMR. BARDEN: He...       0
1           1  Money woes in the most populous US state have ...       0
2           2  Username\n\nPassword\n\nNeed help? Contact the...       0
3           3  President Donald Trump has sent a strong messa...       1
4           4  BREAKING!\n\nLiberal rag Huffington Post is re...       1

In [72]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 504
Number of Real News: 321
Number of Fake News: 183
Number of rows after removing duplicates: 504
Number of rows after removing NaN: 504

In [73]:
start_year = 2005
end_year = 2018
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2005: 103
2006: 54
2007: 63
2008: 96
2009: 68
2010: 75
2011: 51
2012: 46
2013: 54
2014: 94
2015: 54
2016: 86
2017: 45
2018: 39

In [74]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()}")

NaN year count: 276

In [75]:
df['year'].value_counts().sort_index()

year
2005    12
2006     9
2007    17
2008    29
2009    19
2010    23
2011    11
2012    11
2013     7
2014    13
2015    16
2016    36
2017    13
2018    12
Name: count, dtype: int64

## NDF

paper di riferimento: https://colinglab.fileli.unipi.it/wp-content/uploads/2022/10/1-s2.0-S0020025522008167-main.pdf

tema: incendio Notre Dame

pubblicazione: 2022

date paper: Incendio Notre-Dame di Aprile 2019

dataset originale (NON CI SONO date): https://github.com/Unipisa/NDFDataset

----

**RISULTATO:**
* Molte news del 2019
* 445 su 554 sarebbero senza data

In [77]:
percorso_file = "../datasets/Unipi_NDF/df_ndf.csv"
df = None

df = pd.read_csv(percorso_file, sep="\t", encoding="utf-8")

In [78]:
df.head()

   Unnamed: 0                                              texts  labels
0           0  So sad to see a piece of historical majesty go...       0
1           1  The Vice-President of the French student union...       1
2           2  All the wonderful craftsmanship, that has been...       0
3           3  Early, unconfirmed reports claim Notre Dame fi...       1
4           4  "This story is from 2016 and unrelated to the ...       1

In [79]:
# print total length
print("Total number of rows:", len(df))

# print number of 0 labels
print("Number of Real News:", (df['labels'] == 0).sum())
# print number of 1 labels
print("Number of Fake News:", (df['labels'] == 1).sum())

# delete duplicate rows
df = df.drop_duplicates()
print("Number of rows after removing duplicates:", len(df))
# drop rows with NaN in 'texts' column or 'labels' column
df = df.dropna(subset=['texts', 'labels'])
print("Number of rows after removing NaN:", len(df))

Total number of rows: 554
Number of Real News: 338
Number of Fake News: 216
Number of rows after removing duplicates: 554
Number of rows after removing NaN: 554

In [80]:
start_year = 2019
end_year = 2019
year_pattern = count_years_in_texts(df, start_year, end_year, column='texts')

2019: 141

In [81]:
df['year'] = df['texts'].apply(extract_most_common_year, year_pattern=year_pattern)

# count NaN "year" rows
print(f"NaN year count: {df['year'].isnull().sum()} over {len(df)} rows")

NaN year count: 445 over 554 rows

In [82]:
df['year'].value_counts().sort_index()

year
2019    109
Name: count, dtype: int64